<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.navbar-default {box-shadow:none}

.hentry {padding:0!important;border:none!important}

#sidebar-footer {padding:0;background-color:transparent}
#sidebar-footer .container {background-color:#f2f2f2}
#menu-footer {display:flex;justify-content:center}
#menu-footer > li {width:150px;font-size:12px}
#menu-footer > li a {color:#555}
#menu-footer > li > a:first-child {font-size:14px;font-weight:bold;color:#000}

#sidebar-footer-secondary {padding:0}
#sidebar-footer-secondary .container {background-color:#a02125;text-align:center;color:#fff;letter-spacing:3px}
#sidebar-footer-secondary .container a {color:#fff}
#sidebar-footer-secondary .container span {margin-left:30px}

.site-footer {padding:0}

@media (min-width:1200px){
 .container {width:1200px}
}

@media (min-width: 768px){
 .navbar-right {float: none!important}
 .copyright {border-top:none!important}
}

@media (min-width: 992px){
 .navbar-large-offset {margin-top: 0}
 .navbar-large .site-logo {max-height: 100px;}
}</style>
<!-- end Simple Custom CSS and JS -->
