:root {
    --main-color: #6f8b41;
    --sub-color: #759cb2;
    --red: #e38172;
    --dark-color: #455057;
    --light-green: #d1dcb1;
    --sm-width: 576px;
    --md-width: 768px;
    --lg-width: 992px;
}

.mobile-only {
    display: block;
}

.desktop-only {
    display: none;
}

@media only screen and (min-width: 768px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
}

@font-face {
    font-family: noto-serif-bold;
    src: url(./fonts/NotoSerifTC-SemiBold.otf);
}

@font-face {
    font-family: noto-san-bold;
    src: url(./fonts/NotoSansTC-Bold.otf);
}

@font-face {
    font-family: noto-san-light;
    src: url(./fonts/NotoSansTC-Light.otf);
}

@font-face {
    font-family: noto-san-medium;
    src: url(./fonts/NotoSansTC-Medium.otf);
}

body {
    background-image: url(../assets/intro_bg.png);
    background-size: 50%;
    font-family: noto-san-medium;
    letter-spacing: 0.1em;
    color: var(--dark-color);
}

h1, h2, h3 {
    font-family: noto-serif-bold;
    line-height: 1.5em;
}

.text-shadow {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.637);
}

.highlight {
    color: var(--main-color);
}

.highlight-red {
    color: var(--red);
}



.title {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
}

.title::after {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 360px;
    height: 30px;
    background-image: url(../assets/title_underline.png);
    background-position: center;
    background-size: 360px;
    background-repeat: no-repeat;
}

.title.light::after {
    background-image: url(../assets/title_light_underline.png);
}

.subtitle {
    border: 3px solid var(--main-color);
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
}

.list-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-family: noto-san-light;
    transition: linear 0.5s;
}

.list-item b {
    font-family: noto-san-bold;
}

.list-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 20px;
    z-index: 0;
    height: 20px;
    background-color: white;
    transition: linear 0.5s;

}

.list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: -7px;
    width: 30px;
    height: 30px;
    z-index: 1;
    opacity: 0;
    background-size: 30px 30px;
    background-position: center;
    background-image: url(../assets/chiang_records_check.png);
    transition: linear 0.5s;
}
.list-item.checked::before {
    opacity: 1;
}

.divider {
    height: 100px;
    border-width: 0px;
    border-right: 1px;
    border-color: inherit;
    border-style: solid;
    width: 1px;
    display: inline-block;
}

.nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.nav-btn-donate {
    height: 70px;
    background-color: var(--main-color);
    background-image: url(../assets/nav_btn_donate.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-btn-intro {
    height: 70px;
    background-color: var(--sub-color);
    background-image: url(../assets/nav_btn_intro.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-btn-donate-desktop {
    position: fixed;
    right: 20px;
    top: 30%;
    width: 90px;
    transform: translateY(-30%);
}

.donate-btn {
    background: rgb(189,198,164);
    background: linear-gradient(315deg, rgba(189,198,164,1) 0%, rgba(234,245,202,1) 50%, rgba(189,198,164,1) 100%);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: .25rem;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.40);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.donate-btn.green {
    color: white;
    background: rgb(110,130,77);
    background: linear-gradient(315deg, rgba(110,130,77,1) 0%, rgba(150,178,104,1) 50%, rgba(110,130,77,1) 100%);
}

.donate-btn-title {
    font-size: 20px;
    font-family: noto-serif-bold;
}
.donate-btn-subtitle {
    font-size: 13px;
    font-family: noto-san-light;
}
.donate-btn-icon {
    width: 50px;
    height: 60px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.donate-btn-amount {
    color: var(--main-color);
    font-size: 1.8rem;
    font-family: noto-serif-bold;
}

.section {
    position: relative;
}
.container {
    position: relative;
    z-index: 1;
}



#landing {
    min-height: 100vh;
    margin-bottom: -100px;
    z-index: 13;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing::after {
    content: '';
    background-image: url(../assets/landing_bg.png);
    background-size: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 49% 100%, 0 88%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    z-index: 0;
}

#progress {
    padding-top: 200px;
    min-height: 100vh;
    margin-bottom: -100px;
    z-index: 12;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

#progress::after {
    content: '';
    background-image: url(../assets/progress_bg.png);
    background-size: auto 100%;
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 49% 100%, 0 88%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    box-shadow: 0 0 10px black;
}

#progress-map {
    width: 100%;
    height: 100%;
    min-height: 320px;
}

@media only screen and (min-width: 768px) {
    #progress::after {
        background-size: 100%;
    }
}

#intro {
    padding-top: 150px;
    z-index: 11;
}

.intro-drawings {
    background-image: url(../assets/intro_drawings_bg.png);
    background-position: center;
    background-size: 130%;
}

#events {
    padding-bottom: 150px;
    margin-bottom: -100px;
    z-index: 11;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

#events::after {
    content: '';
    background-image: url(../assets/intro_bg.png);
    background-size: 100%;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 49% 100%, 0 88%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    box-shadow: 0 0 10px black;
}

#chiang-intro {
    padding-top: 150px;
    padding-bottom: 250px;
    margin-bottom: -100px;
    z-index: 10;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

#chiang-intro::after {
    content: '';
    background-image: url(../assets/chiang_intro_bg.png);
    background-size: auto 100%;
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 49% 100%, 0 88%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: 0;
    box-shadow: 0 0 10px black;
}

@media only screen and (min-width: 768px) {
    #chiang-intro::after {
        background-size: 100%;
    }
}

#chiang-records {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: -100px;
    z-index: 9;
}

.checklist {
    background-image: url(../assets/chiang_records_bg.png);
    background-size: 100%;
}

@media only screen and (min-width: 768px) {
    .checklist {
        margin-bottom: -100px;
    }
}

#hotline {
    color: white;
    z-index: 888;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: -150px;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

#hotline h1 {
    background-image: url(../assets/hotline_decoration.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 107%;
    padding: 100px 0;
}

#hotline::after {
    content: '';
    background-image: url(../assets/hotline_bg.png);
    background-size: 50%;
    clip-path: polygon(50% 0, 100% 17%, 100% 86%, 49% 100%, 0 84%, 0 17%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    box-shadow: 0 0 10px black;
}

#school {
    padding-top: 200px;
    padding-bottom: 150px;
    margin-bottom: -150px;
    z-index: 8;
    color: white;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

#school::after, #press::after {
    content: '';
    background-image: url(../assets/school_bg.png);
    background-size: 50%;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 49% 100%, 0 88%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    box-shadow: 0 0 10px black;
}

#chiang-quotes {
    background-color: var(--sub-color);
    background-image: url(../assets/chiang_quotes_bg.png);
    background-size: auto 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 250px;
}

@media only screen and (min-width: 768px) {
    #chiang-quotes {
        background-size: 100%;
    }
}

.quote {
    font-family: not-serif-bold;
    display: inline-block;
    background-color: white;
    color: black;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 20px;
    padding: 10px;
    margin: 15px;
}

#donate {
    padding-bottom: 150px;
    margin-bottom: -100px;
    z-index: 7;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

#donate::after {
    content: '';
    background-image: url(../assets/donate_bg.png);
    background-size: 50%;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 49% 100%, 0 88%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    box-shadow: 0 0 10px black;
}

#rewards {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: -230px;
    z-index: 6;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}


#rewards::after {
    content: '';
    background-image: url(../assets/intro_bg.png);
    background-size: 50%;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 49% 100%, 0 88%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    box-shadow: 0 0 10px black;
}

.rewards-item {
    position: relative;
}

.rewards-item::before {
    content: '';
    position: absolute;
    bottom: 10px;
    z-index: 1;
    right: 10px;
    width: 50px;
    height: 50px;
    background-image: url(../assets/rewards_icon.png);
    background-size: 50px 50px;
    background-position: center;
}

#press {
    padding-top: 250px;
    padding-bottom: 150px;
    margin-bottom: -100px;
    z-index: 5;
    color: white;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}



#action {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: -100px;
    z-index: 4;
}

#footer {
    background-color: #455057;
    color: white;
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: 0.5rem;
    font-family: noto-san-light;
}

.footer-logo {
    max-width: 200px;
}

.footer-icon {
    width: 30px;
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    #footer {
        font-size: 1rem;
    }
}

/* Slick */
#expert-slides {
    overflow: hidden;
    transition: linear 0.5s;
}

#expert-slides .slider {
    background-color: white;
    color: var(--dark-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.40);
    transform: scale(0.9);
    opacity: 0.5;
    margin-top: 50px;
    max-width: 320px;
    font-family: noto-san-light;
    transition: linear 0.5s;
}

#expert-slides .cover {
    padding: 5px;
}

#expert-slides h6 {
    font-family: noto-san-bold;
    background-color: white;
    position: relative;
}

#expert-slides h6::after {
    content: '';
    border: 0px;
    border-bottom: 1px;
    border-color: #6f8b41;
    border-style: solid;
    position: absolute;
    top: 10px;
    right: 0;
    width: 67%;

}

#expert-slides .tag {
    font-family: noto-san-bold;
    position: absolute;
    top: -34px;
    padding: 5px 15px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../assets/expert_slide_tag.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    text-align: center;
}

#expert-slides .slick-active, #expert-slides .slick-current {
    transform: scale(1);
    opacity: 1;
    transition: linear 0.5s;
}
.press-quote {
    font-family: noto-serif-bold;
    display: flex;
    vertical-align: top;
    text-align: center;
    font-size: 1.6rem;
}

.press-quote > div {
    flex: 1;
}

.press-quote::before, .press-quote::after {
    font-size: 45px;
    
}

.press-quote::before {
    content: '“';
}

.press-quote::after {
    content: '”';
}