/*Colors*/
.bg-themecolor {
    background-color: #2a78cc;
    color: white;
}



.container {
    max-width: 1060px;
    text-align: center;
}

.section {
    padding: 50px 0;
}

.sectionBG {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#partA {
    background-image:  url(img/bg_part-a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 120px 0;
}

#partB .icon {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    background-image: url(img/ic_cross.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}


#partC {
    color: white;
}
#partC .icon {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

#partC .content {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}

#partC h4 {
    color: #ffe047;
}

#partD {
    padding: 0 100px;
}


#tabContainer {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

#tabContainer .nav-pills {
    padding: 0;
    
}

#tabContainer .nav-pills .nav-link {
    height: 100%;
    border-radius: 0;
    padding: 23px 0;
    font-size: 16px;
    border-bottom: 1px solid #e0e0e0;
}

.tab-content {
    border-left: 1px solid #57a8ff;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}


#partE {
    color: white;
}

#partE .block {
    padding: 5px;
    background-color: #57a8ff;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.btn {
    border-radius: 30px;
}

img {
    width: 100%;
}

.icon {
    width: 50px;
    height: 50px;
}

.icon.large {
    width: 150px;
    height: 150px;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}


/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

@media (max-width: 768px) {
    #partA {
        background-size: auto 100%;
    height: auto;
    }
    #partD {
        padding: 0;
    }
}

.overflow-hidden {
    overflow: hidden;
    
}