//Tab
.tab-container {
  .nav {
    background-color: transparent;
    color: white;
    .nav-item {
      a {
        border-radius: 0px;
        color: @grey-dark;
        background-color: white;
        margin-bottom: 5px;
        &.active {
          background-color: @green;
          color: white;
        }
      }
    }
  }
}

//Badge 
.badge {
    background-color: @green;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 0.9em;
    border-radius: 0;
}


//Gallary
.gallary-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-row: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px 0;
    .gallary-item {
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
}



//Event List
//With Featured Cards
.event-card-container {
  display: grid;
  grid-template-columns: auto auto;
  .featured {
    padding-bottom: 5px;
    background-color: black;
    .event-thumbnail {
      width: 100% !important;
      padding-bottom: 100% !important;
    }
    .event-content {
      width: 50% !important;
      display: block;
    }
    .event-excerpt {
      color: white;
      text-shadow: 4px 4px 11px rgba(0, 0, 0, 1) !important;
    }
  }
  &.featured {
    .event-card {
      &:first-child {
        grid-row-start: 1;
        grid-row-end: span 2;
        grid-column-start: 1;
        grid-column-end: span 0;
        .featured;
      }
      &:last-child {
        grid-row-start: 3;
        grid-row-end: span 2;
        grid-column-start: 2;
        grid-column-end: span 1;
        .featured;
      }
    }
  }
  @media @mobile {
    display: block;
  }
}

//Feature List
.feature-list-container {
  background-color: white;
  margin-bottom: 20px;
  .header {
    position: relative;
    background-color: black;
    width: 100%;
    height: 185px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    .title {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      .white-shadow-text;
      padding: 5px;
      font-size: 1.3em;
    }
    img {
      opacity: 0.8;
      width: inherit;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      left: 0;
        @media @mobile {
            height: auto;
        }
    }
  }
  .media-body {
    padding-left: 10px;
  }
  .footer {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

//Media
.media {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid @grey-bg;
  a {
    color: @grey-dark;
    font-weight: bold;
  }
  small {
    color: @grey-light;
  }
  .tag {
    color: @green;
    white-space: nowrap;
  }
  iframe {
    width: 100%;
    height: 100px;
    background-color: @grey-light;
  }
  &.featured {
    position: relative;
    padding: 0;
    iframe {
      min-height: 300px;
    }
    .media-body {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      color: white;
      background: @black-gradient-bottom;
      a {
        .white-shadow-text;
      }
    }
  }
}

//Open time list
#open-time-list {
  .media {
    margin-bottom: 5px;
    padding: 20px 10px;
  }
  .media-body {
    &:first-child {
      border-right: 1px solid @grey-light;
    }
    &:last-child {
      padding-left: 10px;
      border-right: 0px solid @grey-light;
    }
  }
}

//Footer
footer {
  color: white;
  background-color: @grey-dark;
  margin-top: 50px;
  .row {
    margin-bottom: 5px;
  }
  .content {
    border-left: 1px solid @grey-light;
  }
  ul {
    margin-left: 10px;
  }
}
