body {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    padding-top: 160%;
    background-image:  url(img/main.png),url(img/header.png);
    background-size: 100%;
    background-position: bottom,top;
    background-repeat: no-repeat;
    background-color: #f0e8c0;
    max-height: 100vh;
    box-sizing: border-box;
    position: relative;
}

img#footer {
    width: 100%;
}

img#button {
    width: 40%;
    position: absolute;
    right: 15px;
    top: 300px;
    transform: translateY(17%);
}