body {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    padding-top: 208%;
    background-image: url(img/main.png);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #fbe2d2;
    box-sizing: border-box;
    position: relative;
}

img#main, img#comic {
    width: 100%;
}

img#button {
    width: 37%;
    position: absolute;
    right: 15px;
    bottom: 17%;
    transform: translateY(17%);
}